.vscode/**
.vscode-test/**
test/**
.gitignore
.gitattributes
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
desktop.ini
ideas.txt
resources/demo.gif
resources/demoAddDescription.gif
resources/demoAddDescriptionClassReference.png